<div class="background-container"></div> <!-- Fullscreen background image container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card animate-card">
        <div class="card-header text-center">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <!-- Message Section for feedback -->
          <div *ngIf="message" class="alert" [ngClass]="'alert-' + message.type">
            <strong>{{ message.title }}</strong> {{ message.text }}
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                id="email"
                formControlName="email"
                type="email"
                class="form-control"
                placeholder="Enter your email"
                required
              />
              <div
                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                class="text-danger"
              >
                <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
              </div>
            </div>

            <div class="form-group position-relative">
              <label for="password">Password</label>
              <input
                id="password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                placeholder="Enter your password"
                required
                (focus)="onPasswordFocus(true)"
                (blur)="onPasswordFocus(false)"
              />
              <button type="button" class="show-password-btn" (click)="togglePasswordVisibility()">
                {{ showPassword ? 'Hide' : 'Show' }}
              </button>
              <div
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                class="text-danger"
              >
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
              </div>
            </div>

            <div class="form-group text-center mt-4">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
                Login
              </button>
            </div>
          </form>

          <div class="text-center mt-3">
            <p>Don't have an account? <a [routerLink]="'/register'">Register</a></p>
            <p><a [routerLink]="'/forgot-password'">Forgot Password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
