/* C:\Users\abdo.nasser\hrms-dashboard\src\app\sidebar\sidebar.component.css */

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    padding-top: 1rem;
  }
  
  .nav-link {
    color: #333;
    font-weight: 500;
  }
  .nav-link:hover {
    background-color: #e9ecef;
  }
  